<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Calculator</title>
    <link rel="stylesheet" href="../css/universal.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="/area/circle">Circle</a></li>
            <li><a href="/area/triangle">Triangle</a></li>
            <li><a href="/area/rectangle">Rectangle</a></li>
            <li><a href="/area/square">Square</a></li>
        </ul>
    </header>

    <main>
        <div>
            <h3>Area Calculator</h3>
        </div>
    </main>

    <footer>
        <p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eius natus numquam aut atque, quo porro molestias aliquam eveniet, aperiam omnis eum incidunt rerum odit eos. Doloribus aspernatur aperiam reiciendis suscipit, veniam fuga iure, eius tempora quaerat voluptatibus impedit? Aliquid consequuntur tenetur cumque, delectus blanditiis fugiat dolores eligendi dolorem! Corporis.</p>
    </footer>
</body>
</html>