<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="css/universal.css">
</head>
<body>

    <header>
        <div>
           <ul>
                <li><a href="/area">Area Calculator</a></li>
                <li><a href="/volume">Volume Calculator</a></li>
           </ul>
        </div>
    </header>

    <main>
        <div>
            <p>
                This is a practice project of Nodejs
            </p>
        </div>

        <br><br><br>
    </main>
    

    <footer>
        <div>
            <p>Developed By - <br/>
            Tanzirul Islam Shanto
            </p>
        </div>
        <div>
            <p>
                Contact - <a href="mailto: tanzirulislam025@gmail.com">Mail</a>
            </p>
        </div>
    </footer>
</body>
</html>