<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volume Calculator - Cuboid</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/volume/sphere">Sphere</a></li>
            <li><a href="/volume/cuboid">Cuboid</a></li>
            <li><a href="/volume/cube">Cube</a></li>
            <li><a href="/volume/cylinder">Cylinder</a></li>
            <li><a href="/volume/cone">Cone</a></li>
            <li><a href="/volume/hemisphere">Hemisphere</a></li>
            <li><a href="/volume/prism">Prism</a></li>
        </ul>
    </header>

    <main>
        <div>
            <h3>Cuboid</h3>
        </div>

        <div>
            <form action="/volume/cuboid" method="POST">
                <div>
                    <label for="length">Length: </label>
                    <input type="text" name="length" id="length">
                </div>
                <div>
                    <label for="width">Width: </label>
                    <input type="text" name="width" id="width">
                </div>
                <div>
                    <label for="height">Height: </label>
                    <input type="text" name="height" id="height">
                </div>
                <button type="submit">Calculate Volume</button>
            </form>
        </div>
    </main>

    <footer>
        <div>
            <p align="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eius natus numquam aut atque, quo porro molestias aliquam eveniet, aperiam omnis eum incidunt rerum odit eos. Doloribus aspernatur aperiam reiciendis suscipit, veniam fuga iure, eius tempora quaerat voluptatibus impedit? Aliquid consequuntur tenetur cumque, delectus blanditiis fugiat dolores eligendi dolorem! Corporis.</p>
        </div>
    </footer>
</body>
</html>